*
{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    background-color: #e8e5e5;
    
    
}
nav{
    background: rgba(0,0,0,0.5);
    /* background-color: blueviolet; */
    display: inline-flex;
    text-align: center;
    width: 100vw;
    padding: 15px 15px;
    position: fixed;
    justify-content: space-between;
    
}
nav a{
    padding-left: 20px;
}
nav li a{
    padding-right: 45px;
}
nav a:hover
{
    color: rgb(10, 10, 10);
}
nav li,a{
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 2px;
    list-style: none;
    display: inline-flex;
    /* padding-left: 30px; */
    font-size: 25px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}

nav h1{
padding-left:30px;
font-size: 35px;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}


/* display information accepted from mysql database through php */


.box
{
    /* display: flex; */
    /* margin-right: 0; */
    justify-content: center;
    text-align: left;
    height: auto;
    width: min-content;
     border: 1px solid black; 
    background-color: transparent;
    padding: 30px 30px;
    background: rgb(115, 113, 113);
    box-shadow: -15px 10px 30px black;
    border-radius: 10px;
    overflow: hidden;

}
 .wraper
{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 90px;
    padding-left: 30px;
    justify-content: space-evenly;
} 

.box img{
    height: 200px;
    width: 350px;
    border: 1px solid black;
}
.box li,h4{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 10px;

}

.box li{
    font-size: 20px;
    list-style: none;
   
}
.box h4{
    font-size: 25px;
}
.btn
{
    padding: 5px 5px;
    background-color: rgb(3, 183, 3);
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    
    font-size: 22px;
    font-weight: 900;
}
.box{
    margin-right: 0;

}
